@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('buttons.css');
@import url('variables.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  scroll-behavior: smooth !important;
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (max-width: 768px) {
  .showcase-main {
    text-align: center;
  }
  .showcase-button {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .cards img {
    width: 100%;
    margin-top: 25px;
  }
}

.faq-title::after {
  content: "";
    display: block;
    width: 144px;
    height: 6px;
    background-color: var(--color-navy-blue);
    margin: 10px 0 0;
    border-radius: 138px;
}

.why-us-title::after {
  content: "";
    display: block;
    width: 144px;
    height: 6px;
    background-color: white;
    margin: 10px 0 0;
    border-radius: 138px;
}

.dotted-line::after {
  content: "-------------";
  letter-spacing: 5px;
  font-size: 17px;
  color: var(--color-storm-gray);
  display: inline-block;
  vertical-align: 3px;
  padding-left: 13px;
}

.dotted-line::before {
  content: "-------------";
  letter-spacing: 5px;
  font-size: 17px;
  color: var(--color-storm-gray);
  display: inline-block;
  vertical-align: 3px;
  padding-right: 13px;
}

@media (max-width: 768px) {
  .sign-up-svg svg {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 490px) {
  .sign-up-svg svg {
    width: 348px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .confirmation-phase svg {
    width: 300px;
    height: 171px;
  }
}